# node packages
package-lock.json
node_modules

# vscode settings
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

# Tailwind Generated CSS
client/style.css

# Server images
client/assets/images/*
