.gitignore
# node packages
package-lock.json
node_modules

# vscode settings
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json

# Tailwind Generated CSS
src/style.css

# Server images
src/assets/images/*
todo.MD
/.idea/ToolCart.iml
/.idea/vcs.xml
/.idea/dataSources.xml
/test.php
