# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/copyright/Kushal_Saha.xml
/libraries/jQuery.xml
/jsLibraryMappings.xml
/libraries/Flowbite.xml
/dictionaries/project.xml
